{% macro button(text, url, style = "orange") %}
  <a class="button var-{{style}}" href="{{url}}">
    <div class="button-inner var-{{style}}">
      {{ text | markdown | safe}}
    </div>
  </a>
{% endmacro %}