{% macro calender(title, events, style = "orange") %}
  <div class="calender var-{{style}}">
    {% for past_event, events in events | reverse | groupby("past_event") %}
      {% if past_event == 'false' %}
        <h2>{{title}}</h2>
      {% else %}
        <h3>Vergangene Termine</h3>
      {% endif %}
      <ul class="calender-list">
        {% for event in events %}
          <li class="calender-item">
            <a href="{{event.url}}">
              <div class="calender-title-container var-{{style}} {{ "past-event" if past_event == 'true' }}">
                <b>{{event.title}}</b>
                <b class="calender-date">{{event.date}}</b>
              </div>
              <i>{{event.location}}</i>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endmacro %}