{% macro imageGallery(title, images, style = "orange") %}
  <div class="image-gallery var-{{style}}">
    <h2>{{title}}</h2>
    <div class="image-gallery-list">
      {% for row in images | batch(3) %}
        <div class="gallery-row">
          {% for img in row %}
            {% set item_id = uuid() %}
            <a class="gallery-item fallback-{{ ['orange', 'violet'] | random }}" href="{{ img.src | driveImg }}" id="{{item_id}}">
              <img src="{{ img.src | driveImg }}" alt="{{ img.alt }}" onerror='this.style.display="none"; document.getElementById("{{item_id}}").style.width="100%"'>
            </a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}